<nav>
    <p>🎓Student Dashboard</p>
    <div>
        <%= link_to "Dashboard", root_path %>
        <%= link_to "Student List", students_path %>
        <%= link_to "Add Student", new_student_path %>
    </div>
</nav>