<h1>Documents Uploaded</h1>
<p>The following documents have been uploaded by <strong><%= @student.name %></strong>:</p>
<ul>
  <% @documents.each do |document| %>
    <li><%= document.filename.to_s %></li>
  <% end %>
</ul>
