<h1>Hello <%= @student.name %></h1>
<p>Welcome to ABC Academy.</p>
<p>Your student account has been successfully created.</p>
<p>Course: <%= @student.course %></p>
<p>Teacher: <%= @student.user.email %></p>
<p>Regards,</p>
<p>ABC Academy Team</p>